@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hasło zostało zresetowane. Proszę <a asp-page="./Login">kilknąć tutaj aby się zalogować.</a>.
</p>
