@{
    ViewData["Title"] = "Strona główna";
}

<div class="conatiner">
    <h2>Witamy w aplikacji ewidencji pracowników</h2>
    <p>Aby rozpocząć zaloguj się luib zarejestruj jeśli nie posiadasz konta</p>
</div>
